body {
  font-family: 'Tangerine', serif;
  font-size: 12px;
}

h1 {
  color: red;
  text-shadow: 3px 3px 1px black;
}

h2 {
  color: green;
}

p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}

i {
  font-variant: small-caps;
}

#monSousItem {
  color: yellow;
}

.maClass {
  color:pink;
}

